<%- include('../partials/header') %>

        <h1>List of Users</h1>

        <% users.forEach(user=> { %>
            <div class="user">
                <h2>
                    <%= user.username %>
                </h2>

                <h3>Recipes List:</h3>
                <ul>
                    <% user.recipes.forEach(recipe=> { %>
                        <li>
                            <strong>
                                <%= recipe.recipeTitle %>
                            </strong>

                            <a href="/recipes/<%= recipe.id %>">
                                More Details
                            </a>

                            <form action="/recipes/<%= recipe.id %>/delete?_method=DELETE" method="POST">
                                <button type="submit">delete Recipe</button>
                            </form>

                            <form action="/recipes/<%= recipe.id %>/edit?_method=PUT" method="POST">
                                <button type="submit">Edit Recipe</button>
                            </form>

                            <img src="<%= recipe.recipeImage %>">
                        </li>
                        <% }); %>
                </ul>
            </div>
            <% }); %>

                <%- include('../partials/footer') %>