<%- include('../partials/header') %>
    <div class="container">
        <% users.forEach(user=> { %>
            <div class="user">
                <h2>
                    <%= user.name %>
                </h2>

                <h3>Recipes List:</h3>
                <ul class="list-group">
                    <% user.recipes.forEach(recipe=> { %>
                        <li class="list-group-item">
                            <strong>
                                <%= recipe.recipeTitle %>
                            </strong>

                            <!-- Bootstrap Tooltip -->
                            <span data-bs-toggle="tooltip" data-bs-placement="top" title="<%= recipe.descriptions.recipeDescription %>">
                                <img src="<%= recipe.recipeImage %>" class="img-fluid"
                                    alt="<%= recipe.recipeTitle %> Image">
                            </span>

                            <a href="/recipes/<%= recipe.id %>" class="btn btn-primary">
                                More Details
                            </a>

                            <form action="/recipes/<%= recipe.id %>/delete?_method=DELETE" method="POST"
                                class="d-inline">
                                <button type="submit" class="btn btn-danger">Delete Recipe</button>
                            </form>
                        </li>
                        <% }); %>
                </ul>
            </div>
            <% }); %>
    </div>
    <%- include('../partials/footer') %>