<%- include('../partials/header') %>
<h1>Show Recipe</h1>

<% if (recipe) { %>
    <h2>
        <%= recipe.recipeTitle %>
    </h2>
    <img src="<%= recipe.recipeImage %>" alt="<%= recipe.recipeTitle %> Image">

    <h3>Descriptions:</h3>
    <% for (let i=0; i < recipe.descriptions.length; i++) { %>
        <p>
            <%= recipe.descriptions[i].recipeDescription %>
        </p>
        <% } %>

            <h3>Ingredients:</h3>
            <% for (let i=0; i < recipe.ingredients.length; i++) { %>
                <p>
                    Amount: <%= recipe.ingredients[i].amount %><br>
                        Measurement: <%= recipe.ingredients[i].measurement %><br>
                            Ingredient Name: <%= recipe.ingredients[i].ingredientName %>
                </p>
                <% } %>

                    <h3>Instructions:</h3>
                    <% for (let i=0; i < recipe.instructions.length; i++) { %>
                        <p>
                            Step <%= recipe.instructions[i].stepNum %>: <%= recipe.instructions[i].step %>
                        </p>
                        <% } %>

                            <!-- Add a link to edit the recipe (if needed) -->
                            <a href="recipes/<%= recipe.id %>/edit">Edit Recipe</a>

                            <% } else { %>
                                <p>No recipe found.</p>
                                <% } %>
                <%- include('../partials/footer') %>